
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
body {
    font-family: 'Muli', sans-serif;
    height: 100% !important;
    background-color: #fff !important;
    padding: 0 !important;
    margin: 0 !important;
}


.container-fluid{
    margin-top: 101px;
    color:#000 !important;
}


h2{
    font-size: calc(25px + (45 - 25) * ((100vw - 360px) / (1600 - 360))) !important; 
}

h5{
    font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
}


.fa{
    cursor: pointer;
    font-size: 21px ;
    margin: 5px 10px 5px 10px !important;
}


button {
    font-size: calc(12px + (13 - 12) * ((100vw - 360px) / (1600 - 320))) !important;
    padding-left:  calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
    padding-right: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360))) !important; 
    padding-top:  calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
    padding-bottom:   calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
 }

 button:focus {
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     outline-width: 0
 }


 li{
     margin-top: 10px ;
     margin-bottom: 10px ;
 }

 input{
     border: 2px solid green !important;
 }
 

.input-group-lg>.custom-select, .input-group-lg>.form-control:not(textarea) {
    height: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important; 
}


input::-webkit-input-placeholder {
  padding-left: 5px !important;
  transform:translate3d(0,-4px,0)
}

input::placeholder {
    vertical-align:middle !important;
    font-size: calc(12px + (14 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
}

input:focus {
     -moz-box-shadow: none !important;
     -webkit-box-shadow: none !important;
     box-shadow: none !important;
     outline-width: 0
 }

 img{
     vertical-align: middle !important;
    width: 100%;
    height: auto;
    width: calc(17px + 6 * ((100vw - 320px) / 680)); 
 }

 li:first-child {
    font-size:  21px !important;
    font-weight: bold;
    margin-bottom: calc(40px + (48 - 40) * ((100vw - 360px) / (1600 - 360))) !important;
    color:#757575 !important;
 
}

footer{ 
    color:#757575 !important;
}

.social{
    position: relative;
    left: -10px;
}

.cursor-pointer{
    cursor: pointer !important;
    color:green;
    font-weight: bold;
}