<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Container wrapper -->
  <div class="container ">
    <!-- Navbar brand -->
    <a class="navbar-brand  " href="#"><img id="MDB-logo" src="https://freepngimg.com/thumb/categories/1342.png"
        alt="MDB Logo" draggable="false" height="30" /></a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-3">
        <li class="nav-item">
          <a class="nav-link active d-flex align-items-center" aria-current="page" href="#"><i
              class="fas fa-bars pe-2"></i>Menu</a>
        </li>
      </ul>
      <!-- Left links -->

       <form class="d-flex align-items-center w-100 form-search">
        <div class="input-group">

          <input type="search" class="form-control" placeholder="Search" aria-label="Search" />
        </div>
        <a href="#!" class="text-white"><i class="fas fa-search ps-3"></i></a>
      </form>

      <ul class="navbar-nav ms-3">
        <li class="nav-item me-3">
          <a class="nav-link d-flex align-items-center" href="#!">IMDbPro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center me-3" style="width: 120px;" href="#!">
            <i class="bi bi-person-add pe-2">Kayıt Ol</i>
          </a>
        </li>
        <li class="nav-item" style="width: 65px;">
          <i class="bi bi-box-arrow-in-right nav-link d-flex align-items-center">Giriş</i>
        </li>

      </ul>

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<!---Popular Cards-->
<section >
  <div class="container py-5 mt-4">
    <div class="row">
      <h2 class="mb-4">Süper Fiyat, Süper Teklif</h2>
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Bugünün Fırsatı !</p>
          
          </div>
          <img src="https://cdn.eraspace.com/pub/media/catalog/product/i/p/iphone_14_plus_purple_1.jpg"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Telefon</a></p>
              <p class="small text-danger"><s>$1099</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Iphone 13</h5>
              <h5 class="text-dark mb-0">$999</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Bugünün Fırsatı !</p>
        
          </div>
          <img src="https://systemactive.co.uk/pub/media/catalog/product/cache/de0d306b9cad3a8633e9b25007319616/i/m/image_d8d9f5ef20704a5e8d618f5591f3fd41_1454559930.jpg"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Laptop</a></p>
              <p class="small text-danger"><s>$1099</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">HP ProBook 650</h5>
              <h5 class="text-dark mb-0">$999</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Bugünün Fırsatı !</p>
         
          </div>
          <img src="https://i.dr.com.tr/cache/600x600-0/originals/0001781524001-1.jpg"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Kulaklık</a></p>
              <p class="small text-danger"><s>$1099</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">JBL 500 TUNE</h5>
              <h5 class="text-dark mb-0">$999</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">5</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!----Poplar Card End-->

<!----Fırsatlar-->
<section>
  <div class="container py-5 mt-4">
    <div class="row">
  <h2>3 saatte bir yenilenen fırsatlar</h2>
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
      
        <div class="card">
          <img src="https://images.milledcdn.com/2020-11-06/Da4JVemlNCsuEduW/-X6_Gvp-yD4Q.png"
          class="card-img-top" alt="Laptop" />
          
        </div>
      </div>
          
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
              <div class="card">
                <img src="https://images.milledcdn.com/2020-11-06/Da4JVemlNCsuEduW/-X6_Gvp-yD4Q.png"
                class="card-img-top" alt="Laptop" />
                
              </div>
            </div>
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
              <div class="card">
                <img src="https://images.milledcdn.com/2020-11-06/Da4JVemlNCsuEduW/-X6_Gvp-yD4Q.png"
                class="card-img-top" alt="Laptop" />
                
              </div>
            </div>
        
    
    </div>
  </div>
</section>
<!----Fırsatlar End-->

<!--Bulabileceğin Markalar-->
<div class="container">
  <h2 class="mb-4">Bulabileceğiniz Markalar</h2>
  <div class="row">
    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
    <div class="card " style="width: 25rem;">
      <div class="card-body">
        <img src="https://images.crowdspring.com/blog/wp-content/uploads/2022/08/18131304/apple_logo_black.svg_.png"
        class="card-img-top" alt="Laptop" />
      </div>
    </div>
    </div>
    <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
      <div class="card" style="width: 25rem;">
        <div class="card-body">
          <img src="https://www.e-channelnews.com/wp-content/uploads/2018/09/HP.png"
          class="card-img-top" alt="Laptop" />
        </div>
      </div>
      </div>
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <img src="https://images.samsung.com/is/image/samsung/assets/tr/about-us/brand/logo/mo/360_197_1.png?$FB_TYPE_B_PNG$"
            class="card-img-top" alt="Laptop" />
          </div>
        </div>
        </div>
        <!-- <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
          <div class="card mt-4" style="width: 25rem;">
            <div class="card-body">
              <img src="https://banner2.cleanpng.com/20180520/ejc/kisspng-laptop-monster-notebook-desktop-computers-5b01489d60cca4.8550139515268107813965.jpg"
              class="card-img-top" alt="Laptop" />
            </div>
          </div>
          </div>
          <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
            <div class="card mt-4" style="width: 25rem;">
              <div class="card-body ">
                <img src="https://www.markafikirleri.com/wp-content/uploads/2021/01/Xiaomi-Logo.png"
                class="card-img-top" alt="Laptop" />
              </div>
            </div>
            </div>
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
              <div class="card mt-4" style="width: 25rem;">
                <div class="card-body ">
                  <img src="https://i.pinimg.com/originals/ab/8a/4a/ab8a4a5d64ec626dd55bcff299158654.png"
                  class="card-img-top" alt="Laptop" />
                </div>
              </div>
              </div> -->
              
  </div>
</div>
<!--Bulabileceğin Markalar End-->

<!--Şu anda popüler-->

<div class="container mt-4 ">
  <h2 class="mb-4">Şuanda Popüler</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://images.samsung.com/is/image/samsung/p6pim/nl/qe55q67aauxxn/gallery/nl-qled-q60a-383082-qe55q67aauxxn-417825497?$650_519_PNG$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Samsung Curved Smart Tv</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="ms-auto text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <button class="btn btn-primary mt-2">Alışverişe Başla</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://ffo3gv1cf3ir.merlincdn.net//SiteAssets/pasaj/crop/cg/004AC8/1-1648038470372/1-1648038470372_600x450.png?1773534948014" class="card-img-top mt-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">Oppo A5</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="ms-auto text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <button class="btn btn-primary mt-2">Alışverişe Başla</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://ffo3gv1cf3ir.merlincdn.net/SiteAssets/Cihaz/aksesuar/Apple/watch-series-3-42mm/cg/1.png" class="card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Apple Watch</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer..</p>
          <div class="ms-auto text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <button class="btn btn-primary mt-2">Alışverişe Başla</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MME73?wid=2000&hei=2000&fmt=jpeg&qlt=95&.v=1632861342000" class="card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Airpods</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <div class="ms-auto text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <button class="btn btn-primary mt-2">Alışverişe Başla</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://cdn.vatanbilgisayar.com/Upload/PRODUCT/samsung/thumb/TeoriV2-109010-4_large.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Samsung Galaxy S7 Tablet</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <div class="ms-auto text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <button class="btn btn-primary mt-2">Alışverişe Başla</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://st-troy.mncdn.com/mnresize/1500/1500/Content/media/ProductImg/original/mpxg3tua-apple-iphone-14-512gb-productred-mpxg3tua-637986830557158848.jpg" class="card-img-top" alt="...">
        <div class="card-body ">
          <h5 class="card-title">Iphone 14</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <div class="ms-auto text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <button class="btn btn-primary mt-2">Alışverişe Başla</button>
        </div>
      </div>
    </div>
  </div>
</div>
  